@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400);

body{
	font-family: 'Lato','Helvetica Neue',  'Helvetica', sans-serif;
	font-size: 18px;
	font-weight: 300;
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
a, a:visited {
	text-decoration: none;
	color: #0000AA;
}
a:hover{
	color: #0000EE;
}

h1,h2,h3{
	font-family: 'Raleway','Helvetica Neue','Helvetica', sans-serif;
	font-weight: 300;

}
h1{
	font-size:300%;
	margin: 0;
}
h2,h3{
	color: #505050;
}
h2{
	font-size: 150%;
}
h3{

	font-size: 125%;
}
main{
	margin-left: 30%;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	background-image: url(../img/ricepaper_v3.png);
	opacity: 0.9;
}


header{
	padding: 1em;
	background-color: #FA5A0F;
	border-bottom: solid 5px #EA4A00;
	color: #FFFFFF;
}

header p{
	font-size: 120%;
	color:#EEEEEE;
	margin: 0;
}

section, footer{
	padding: 1em;
}
.menu{
	background-color: rgba(207,205,140,0.5);

}

dt{
	font-weight: 400;
}
dd{
	margin-bottom: 1em;
	margin-left: 1em;
	font-size: 80%
}
dd p.italic{
	font-style: italic;
	margin: 0;
}

footer{

	text-align:right;
	background-color: #FC892F;
	border-top: solid 5px #EC791F;
	font-size: 80%
}
